body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(https://images.unsplash.com/photo-1604147495798-57beb5d6af73?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80);
  background-repeat: no-repeat;
  background-size: cover;
 
}
.nq-container{
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
}

header {
  list-style: none;
  display: flex;
  justify-content:flex-end;
  margin: 0;
  max-block-size: 100%;
  background: rgb(0,0,0,0.9);
}

.nq-logo {
  margin-right: auto;
  padding: 25px;
}

header nav ul li a {
  text-decoration:none;
  color: white;
  margin: 30px;
  padding: 8px;
}

.nq-nav-bar{
  display: flex;
  align-items:flex-end ;
  padding: 20px;
  max-width: 100%;
  max-height: 100%;
  background-color: transparent;
  background: transparent;
  border-color: transparent;
  font-size: 12px;
}

.nq-navbar li{
  color: 000;

}
.nq-nav-links a:hover{
  border: 1 px solid white;
  padding: 8px;
  border-radius: 8px;
  background-color:white;
  color:black;
  transform: scale(2);
  transition: transform 0.25s;

}

.nq-nav-links ul{
  list-style-type: none;

}
.nq-nav-links li{
  display: inline;
}

.nq-footer {
  position: absolute;
  width: 100%;
  height: auto;
  margin-top: 10px;
  background-color: rgb(37, 37, 37);
}

.nq-botnav ul{
  list-style: none;
  font-size: 18px;
  text-align: center;
  padding: 40px;
}

.nq-botnav ul li a{
  text-decoration: none;
  color: white;
}

.nq-botnav ul li{
  display: inline-block;
  padding: 0 15px;
}

.nq-footer .nq-social {
  width: 100%;
  text-align: center;
  padding-bottom: 40px;
}

.nq-footer .nq-social a{
  width: 35px;
  height: 35px;
  margin: 0 15px;
  font-size: 30px;
  color: white;
  text-align: center;
  display: inline-block;
  opacity: 0.7;
}

.nq-footer .nq-social a:hover{
  opacity: 1;
}

.nq-footer p{
  color: white;
  text-align: center;
  padding-bottom: 20px;
}
body {
font-family: Verdana, Geneva, Tahoma, sans-serif;
background-color: #F2F2F2;
}


main {
max-width: 800px;
margin: 20%;
border-radius: 15px;
padding: 50px;
box-shadow: 0px 0px 5px 0px white;
backdrop-filter: blur(10px);
color: white;
}

section {
margin-bottom: 50px;
}

h1, h2 {
text-align: center;
}

form {
text-align: left;
}

label {
display: block;
margin-bottom: 10px;
}

input, textarea {
width: 100%;
padding: 10px;
margin-bottom: 20px;
box-sizing: border-box;
background-color: gray;
border-radius: 10px;
}

input[type="submit"] {
background-color: #000000;
color: #FFFFFF;
padding: 10px 20px;
border: none;
border-radius: 10px;
cursor: pointer;
border-radius: 10px;
}

#headeri {
  font-weight: 700;
  font-family: sans-serif
}